/* Header _______*/
.header {
  background: $veryPaleCyan url(../images/bg-hero-mobile.svg) no-repeat;

  .topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 15px;

    img {
      width: 6.5625em;
    }

    &__cta {
      font-size: 8px;
      background-color: white;
      color: $veryDarkCyan;
      padding: 0.875em 3.125em;
      border-radius: 2.5em;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }

  .hero {
    padding: 0 40px;

    &__article {
      text-align: center;
      margin: 65px 0;

      h1 {
        font-size: 5vmin;
      }

      p {
        margin: 36px 0;
      }
    }

    &__image {
      padding-bottom: 36px;
    }

    .cta {
      background-color: $pink;
      padding: 8px 40px;
      border-radius: 20px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (min-width: 768px) {
  .header {
    .topnav {
      padding: 50px 40px;
    }
  }
}

@media (min-width: 991px) {
  .header {
    background: $veryPaleCyan url(../images/bg-hero-desktop.svg) no-repeat;
    .topnav {
      padding: 50px 80px 0;

      .topnav__logo img {
        width: 12.5em;
      }

      &__cta {
        font-size: 10px;
        padding: 0.875em 5em;
      }
    }

    .hero {
      padding: 70px 80px 34px;

      display: flex;

      &__article {
        text-align: left;
        flex: 40%;

        h1 {
          font-size: 3vw;
        }

        p {
          font-size: 1.3vw;
        }

        .cta {
          padding: 15px 40px;
          border-radius: 50px;
        }
      }

      &__image {
        flex: 50%;
        margin-left: 70px;
      }
    }
  }
}
